.report-table-headers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 8px;
}

.report-table-headers:first-child {
  border-bottom: 1px solid black;
}

.user-report-m {
  margin: "8px";
  padding: 8px;
}

@media (max-width: 768px){
    .report-table-headers{
        grid-template-columns: repeat(12, 1fr);
    }

    .sk-user-table{
        grid-column: 1/6;
    }

    .sk-total-table{
        grid-column: 7/13;
    }


}