* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body html {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

.css-0 {
  min-height: 10px !important;
}

a:active {
  color: white;
}

a.active {
  color: white !important;
}

a.navbar-brand {
  color: white;
  text-decoration: none;
}

a:active {
  color: none;
}
